*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 180px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-position: top; /* Posizionamento pattern immagine simile ad esempio*/
    padding-top: 80px; /* Spaziatura div contenente logo*/
    padding-left: 20px;
}

#logo{
    width: 200px; /*ridimensionamento logo*/
    height: 100px;
}

main{
    padding-left: 50px;
}

section{
    margin-top: 30px;
}

#article-title{
    width: 80%;
    font-size: 60px;
}

#author{
    text-decoration: none;
    color: #73d1f9;
}

.title-info{
    font-weight: 200;
    color: #808080;
}

#main-images-container{
    width: 90%;
    margin-top: 20px;
}

.main-images{
    width: calc(50% - 5px);
    height: 600px;
    object-fit: cover;
}

p{
    font-size: 20px;
}